@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding-top: 6rem; 
  background-color: white;
  color: #181818;
  min-height: 100vh;
}

.dark body {
  background-color: #181818; 
  color: white;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Dark mode scrollbar styling */
.dark ::-webkit-scrollbar-track {
  background: #333; 
}

.dark ::-webkit-scrollbar-thumb {
  background: #666; 
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
